.col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spacing {
  padding: 3rem;
}

.marg {
  margin: 2rem 0;
}

.marg-sm {
  margin: 0.8rem 0;
}

.c_d {
  max-height: 10rem;
}
.c_h {
  height: 25rem;
  /* max-height: 30rem; */
}

.bkm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m_t {
  margin-top: 10rem;
}
