{% include "base.html" %} {% block nav %} {% include "navbar.html" %}{% endblock
%} {% block content %}

<!-- Content section -->
<section class="p-5">
  <div class="container">
    <h2 class="text-center text-dark p-5">{{ genre }} Books</h2>
    <div class="row">
      <!-- Book 1 -->
      {% for book in books %}
      <div class="col-md-4 mb-4">
        <div class="card text-dark">
          <img
            src="{{book.cover_image_url}}"
            class="card-img-top"
            alt="Book 1"
          />
          <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text">{{book.author}}</p>
            <!-- Add other book details or actions here -->
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- Add more book cards -->
    </div>
  </div>
</section>

<!-- end of footer -->
{% block footer %} {% include "footer.html" %}{% endblock %} {% endblock %}
