{% include "base.html" %} {% block nav %} {% include "navbar.html" %}{% endblock
%} {% block content %}

<!-- Content section -->
<section class="p-5">
  <div class="container">
    <h2 class="text-center text-dark p-5">History Books</h2>
    <div class="row">
      <!-- Book 1 -->
      <div class="col-md-4 mb-4">
        <div class="card text-dark">
          <img
            src="./static/assets/images/book-with-red-cover_1101-95.avif"
            class="card-img-top"
            alt="Book 1"
          />
          <div class="card-body">
            <h5 class="card-title">There was a country</h5>
            <p class="card-text">Chinua Achebe.</p>
            <!-- Add other book details or actions here -->
          </div>
        </div>
      </div>

      <!-- Book 2 -->
      <div class="col-md-4 mb-4">
        <div class="card text-dark">
          <img
            src="./static/assets/images/book-with-yellow-cover_1101-96.avif"
            class="card-img-top"
            alt="Book 2"
          />
          <div class="card-body">
            <h5 class="card-title">Troy</h5>
            <p class="card-text">Lorem ipsum.</p>
            <!-- Add other book details or actions here -->
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card text-dark">
          <img
            src="./static/assets/images/book-with-red-cover_1101-95.avif"
            class="card-img-top"
            alt="Book 2"
          />
          <div class="card-body">
            <h5 class="card-title">Cleopatra</h5>
            <p class="card-text">Lorem ipsum.</p>
            <!-- Add other book details or actions here -->
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card text-dark">
          <img
            src="./static/assets/images/brown-book-cover_1101-1108.avif"
            class="card-img-top"
            alt="Book 2"
          />
          <div class="card-body">
            <h5 class="card-title">Half of a yellow sun</h5>
            <p class="card-text">Chimmamanda Adiche.</p>
            <!-- Add other book details or actions here -->
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card text-dark">
          <img
            src="./static/assets/images/book-with-red-cover_1101-95.avif"
            class="card-img-top"
            alt="Book 2"
          />
          <div class="card-body">
            <h5 class="card-title">Julius Ceasar</h5>
            <p class="card-text">Lorem ipsum.</p>
            <!-- Add other book details or actions here -->
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card text-dark">
          <img
            src="./static/assets/images/book-with-red-cover_1101-95.avif"
            class="card-img-top"
            alt="Book 2"
          />
          <div class="card-body">
            <h5 class="card-title">Jumong</h5>
            <p class="card-text">Lorem ipsum.</p>
            <!-- Add other book details or actions here -->
          </div>
        </div>
      </div>

      <!-- Add more book cards -->
    </div>
  </div>
</section>

<!-- end of footer -->
{% block footer %} {% include "footer.html" %}{% endblock %} {% endblock %}
