{% include "base.html" %} {% block styles %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/chat_room.css') }}"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>

{% endblock %} {% block content %}
<div class="top-desc">
  <p>Bookola</p>
  <a class="exit-btn" href="{{url_for('select_chat')}}">exit</a>
</div>
<div class="content">
  <div class="message-box">
    <h2>Chat room</h2>
    <div class="messages" id="messages">
      <div class="s_message">
        <div class="img-div">
          <img
            src="{{ url_for('static', filename='assets/images/img1.jpg') }}"
            alt=""
          />
        </div>
        <div class="flex_d">
          <div>
            <span class="nm">Adeola</span>
            <span class="m_time">09:00</span>
          </div>
          <p class="m_text">
            hello Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
            magnam reiciendis lor Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
          </p>
        </div>
      </div>
    </div>
    <div class="inputs">
      <input
        type="text"
        rows="3"
        placeholder="message"
        name="message"
        id="message"
      />
      <button type="button" name="send" id="send-btn" onclick="sendMessage()">
        send
      </button>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/chatroom.js')}}"></script>
{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.user.username}}", "{{msg.text}}");
</script>
{% endfor %} {% endblock %}
