{% include "base.html" %} {% block styles %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/create_chatroom.css') }}"
/>
{% endblock %} {% block content %}
<div class="top-desc">
  <p>Bookola</p>
  <a class="exit-btn" href="{{ url_for('select_chat') }}">back</a>
</div>
<form action="{{url_for('create_chatroom')}}" method="POST">
  <div class="info">
    <div>
      <label for="name">name</label>
      <input
        type="name"
        name="name"
        placeholder="Name Your Chatroom"
        id="name"
      />
    </div>
  </div>
  <div class="genre-tiles container-fluid">
    <div class="row">
      <div class="center">
        <h1>Select Your Room Genres</h1>
      </div>
      {% for genre in genres %}
      <div class="top-tile col-6 col-xs-2 col-sm-2 col-md-2">
        <div class="tile">
          <input
            type="checkbox"
            name=""
            id="tile{{loop.index}}"
            class="checkbox"
          />
          <label for="tile{{loop.index}}" class="tile-label"
            >{{genre.name}}</label
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="submit-div">
    <button type="submit" class="submit">Submit</button>
  </div>
</form>

{% endblock %}
