<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/fail-styles.css">
    <script src='/static/js/fail-script.js'></script>
    <title>Oops! Something Went Wrong</title>
</head>
<body>
    <div class="container">
        <img src="https://www.shutterstock.com/image-vector/emoticon-looking-up-raising-hands-600nw-444822673.jpg" alt="Sad Face">
        <h1>Oops! Something Went Wrong</h1>
        <p>Don't worry, we'll fix this hiccup soon. Meanwhile, let's try something else:</p>
        <button onclick="tryAgain()">Try Again</button>
    </div>
</body>
</html>
