{% include "base.html" %} {% block styles %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/homepage.css') }}"
/>

{% endblock %}{% block nav %} {% include "navbar.html" %}{% endblock %}{% block
content %}

<!-- Hero section -->
<section
  id="hero-section"
  class="bg-secondary text-light p-5 p-lg-0 pt-lg-5 text-center"
>
  <div class="container">
    <div>
      <h5>Bookola <span class="text-warning">Digital Library</span></h5>
      <h2 class="lead">Your Gateway to a World of Books.</h2>
      <p>Explore a vast collection of books tailored just for you.</p>
      {% if not current_user.subscribed %}
      <a href="{{ url_for('subscription') }}" class="btn btn-primary"
        >Subscribe Now</a
      >
      {% endif %}
    </div>
    <img id="bookImage" class="img-fluid w-50 mt-4 hero-image" src="" alt="" />
  </div>
</section>
<!-- Hero section end -->

<!--New Arrivals -->
<section class="p-5">
  <div class="container">
    <h2 class="text-center text-dark">New Arrivals</h2>
    <div class="row text-center g-4">
      {% for book in lastest_books %}
      <div class="col-md">
        <div class="card text-dark">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <img
                src="{{ book.cover_image_url }}"
                class="card-img-top c_d"
                alt="books"
              />
            </div>
            <h3 class="card-title mb-3">{{ book.title }}</h3>
            <p class="card-text">{{ book.author }}</p>
            <a
              href="{{ url_for('book_detail', bk_id=book.id) }}"
              class="btn btn-primary"
              >Read Now</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- end of arrivals -->

<!-- book of the week -->

<section id="learn" class="p-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md bkm">
        <h2 class="text-center">Editor's Pick</h2>
        <img
          class="img-fluid c_h"
          src="{{ book_of_the_week.cover_image_url}}"
          alt=""
        />
      </div>
      <div class="col-md p-5">
        <h2>{{book_of_the_week.title}}</h2>
        <p class="lead">{{book_of_the_week.author}}</p>
        <p>{{book_of_the_week.description[:200]}}....</p>
        <a
          href="{{ url_for('book_detail', bk_id=book_of_the_week.id) }}"
          class="btn btn-light mt-3"
        >
          <i class="bi bi-chevron-right"></i> Read More</a
        >
      </div>
    </div>
  </div>
</section>
<!-- end of book of the week -->

<!-- genre -->
<section class="p-5">
  <div class="container">
    <h2 class="text-center text-dark">Genres</h2>
    <div class="row text-center g-4">
      {% for genre in genres %}
      <div class="col-md col">
        <div class="card text-dark">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <img
                src="{{genre.img_url}}"
                class="card-img-top c_d"
                alt="books"
              />
            </div>
            <h3 class="card-title mb-3">{{genre.name}}</h3>
            <p class="card-text">{{genre.description}}</p>

            <a
              href="{{ url_for('books', genre_id=genre.id) }}"
              class="btn btn-primary"
              >View All</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="{{ url_for('genres') }}" class="btn gen-btn btn-light mt-3">
      <i class="bi bi-chevron-right"></i>View All Genres</a
    >
  </div>
</section>

<!-- end of genre-->
{% block footer %} {% include "footer.html" %}{% endblock %}

<!-- custom javascript -->
<script src="{{ url_for('static', filename='js/homepage.js')}}"></script>
{% endblock %}
