<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- bootstrap icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <!-- custom css -->
    <link rel="stylesheet" href="../static/css/landing_page.css">

    <!-- favicon -->
    <link rel="shortcut icon" href="../static/assets/images/favicon.png" type="image/x-icon">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <title>Bookola - Landing Page</title>
</head>
<body>
<!-- Navbar start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><span class="text-warning">Book</span>ola</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>

                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>

                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>

                    <li class="nav-item">
                        <a class="nav-link" href="#benefits">Benefits</a>

                        <li class="nav-item">
                            <a class="nav-link" href="#team">Team</a>

                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>

                                <li class="nav-item">
                                    <a class="nav-link" href="#github">Github</a>

            </ul>
            
          </div>
        </div>
      </nav>
      <!-- Navbar end -->


      <!-- Hero section -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" id="home">
          <div class="carousel-item active">
            <img src="../static/assets/images/bg1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption ">
              <h5>Elevate Your Reading Journey.</h5>
              <p>Immerse yourself in a world of stories tailored just for you.</p>
              <p class="a btn btn-warning mt-3">Explore More</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/assets/images/bg8.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption ">
              <h5>Transform Your Reading Experience.</h5>
              <p>Dive into the Bookola Universe.</p>
              <p class="a btn btn-warning mt-3">Explore More</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../static/assets/images/bg7.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption ">
              <h5>Books That Inspire, Stories That Stay.</h5>
              <p>Bookola-Your Literary Haven.</p>
              <p class="a btn btn-warning mt-3">Explore More</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- End of Hero section -->


      <!-- About section -->
      <section id="about" class="about-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12 p-5">
                    <div class="about-image">
                        <img src="../static/assets/images/bg8.jpg" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <div class="about-text">
                        <h2>About Bookola.</h2>
                        <p class="lead">
                            Bookola is not just a project; it's a passion born out of a love for literature and a desire to create a welcoming space for readers.
                             <br>The idea took shape during our journey at Holberton School, where we envisioned a platform that goes beyond mere book recommendations.
                              Bookola is our way of fostering a community of book enthusiasts, offering a diverse collection of titles, 
                              and providing a seamless reading experience.
                          </p>
                          <p class="lead">
                            As a Portfolio Project for Holberton School, Bookola reflects our dedication to honing our skills as developers
                             and our commitment to building meaningful projects. The journey from concept to reality has been an exciting one, 
                             and we are thrilled to share it with you.
                          </p>
                        <p class="a btn btn-warning mt-3">Learn More</p>
                    </div>
                </div>
            </div>

        </div>
      </section>
      <!-- End of About section -->

       <!-- Core features section -->
       <section class="contact section-padding" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-dark">
                        <h2>Core Features.</h2>
                    </div>
                </div>
            </div>
    
      <section id="features" class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img class="img-fluid" src="../static/assets/images/chatting.png" alt="">
                </div>
                <div class="col-md p-5">
                    <h2>Chat Room Feature</h2>
                    <p class="lead">
                        <p class="lead">Connect with fellow readers in real-time through our interactive chat room. Share book recommendations, discuss your favorite genres, and make new literary friends.</p>
                    </p>
                    <a href="" class="btn btn-warning mt-3">
                       <i class="bi bi-chevron-right"></i> Explore</a>
                </div>

            </div>
        </div>

    </section>

    <section id="features" class="p-5 bg-light text-dark">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md p-5">
                    <h2>Search Feature</h2>
                    <p class="lead">Easily find your next great read with our powerful search feature. Explore books by genre, author, or title, and discover hidden gems tailored to your preferences.</p>
                    <a href="" class="btn btn-warning mt-3">
                        <i class="bi bi-chevron-right"></i>  Read More</a>
                </div>
    
                <div class="col-md">
                    <img class="img-fluid" src="../static/assets/images/search feature.png" alt="">
                </div>
    
            </div>
        </div>
    
    </section>

    <section id="features" class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img class="img-fluid" src="../static/assets/images/undraw_Bookshelves_re_lxoy.png" alt="">
                </div>
                <div class="col-md p-5">
                    <h2>Diverse Collection of Books.</h2>
                        <p class="lead">Immerse yourself in a vast and diverse collection of books. From classic literature to contemporary bestsellers, Bookola offers a curated selection to suit every reader's taste.</p>
                    <a href="" class="btn btn-warning mt-3">
                       <i class="bi bi-chevron-right"></i> Explore</a>
                </div>

            </div>
        </div>

    </section>
        </div>
      </section>
       <!-- End of Core features section -->

        <!-- Benefits section -->
      <section id="benefits" class="benefits section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Benefits of Bookola.</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, quia.</p>
                    </div>
                </div>

            </div>

            <div class="row g-4">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                            <i class="bi bi-book"></i>
                            <h3 class="card-title">Vast Collection</h3>
                            <p class="card-text lead">Explore a diverse collection of books spanning various genres.</p>
                            <p class="a btn btn-warning mt-3">Learn More</p>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                            <i class="bi bi-book"></i>
                            <h3 class="card-title">Recommendations</h3>
                            <p class="card-text lead">Books tailored just for your preference.</p>
                            <p class="a btn btn-warning mt-3">Learn More</p>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                            <i class="bi bi-wallet"></i>
                            <h3 class="card-title">Flexible package</h3>
                            <p class="card-text lead">Affordable prices just to suit you as you read along.</p>
                            <p class="a btn btn-warning mt-3">Learn More</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
      </section>
      <!-- End of Benefits section -->


       <!-- Team Members -->
       <div class="mb-5 p-5" id="team">
        <h2>Meet the Team.</h2>
        <!-- Team Member 1 -->
        <div class="row mb-3 p-5">
          <div class="col-md-4">
            <img src="https://randomuser.me/api/portraits/men/19.jpg" alt="Team Member 1" class="img-fluid">
          </div>
          <div class="col-md-8">
            <h3>Nandom Job Kumdan.</h3>
            <p>Hi, I specialize in Backend development.</p>
            <p>Connect with me on: <a href="https://www.linkedin.com/in/team-member-1" target="_blank">LinkedIn</a>, <a href="https://github.com/team-member-1" target="_blank">GitHub</a>, <a href="https://twitter.com/team_member_1" target="_blank">Twitter</a></p>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="row mb-3 p-5">
          <div class="col-md-4">
            <img src="https://randomuser.me/api/portraits/women/19.jpg" alt="Team Member 2" class="img-fluid">
          </div>
          <div class="col-md-8">
            <h3>Osi Kemebradikumo.</h3>
            <p>Hello, I specialize in Frontend development.</p>
            <p>Connect with me on: <a href="https://www.linkedin.com/in/team-member-2" target="_blank">LinkedIn</a>, <a href="https://github.com/team-member-2" target="_blank">GitHub</a>, <a href="https://twitter.com/team_member_2" target="_blank">Twitter</a></p>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="row mb-3 p-5">
          <div class="col-md-4">
            <img src="https://randomuser.me/api/portraits/women/18.jpg" alt="Team Member 3" class="img-fluid">
          </div>
          <div class="col-md-8">
            <h3>Deosun Adeola.</h3>
            <p>Hi, I specialize in Backend development.</p>
            <p>Connect with me on: <a href="https://www.linkedin.com/in/team-member-3" target="_blank">LinkedIn</a>, <a href="https://github.com/team-member-3" target="_blank">GitHub</a>, <a href="https://twitter.com/team_member_3" target="_blank">Twitter</a></p>
          </div>
        </div>
      </div>


      <!-- Contact section -->
      <section class="contact section-padding" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-dark">
                        <h2>Contact Us.</h2>
                    </div>
                </div>
            </div>

            <div class="row m-0">
                <div class="col-md-12 p-0 pt-4 pb-4">
                    <form action="" class="bg-light p-4 m-auto">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Your full name" required>
                                </div>

                                
                            </div>
    
                        
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="email" class="form-control" placeholder="Your Email" required>
                                    </div>
                                </div>
    
                                
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <textarea rows="3" class="form-control" placeholder="Your Questions" required></textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-warning btn-lg btn-block mt-3">Send Now</button>
        
    
    
                        </div>
                    
                    </div>
                </div>
                    </form>
                    
        </div>
      </section>
      <!-- End of Contact section -->

      <!-- Call-to-Action Section -->

      <section id="call-to-action" class="cta-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12 p-5">
                    <div class="about-image">
                        <img src="../static/assets/images/bg4.jpg" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <div class="cta-text">
                        <h2>Explore Bookola.</h2>
                        <p>Ready to dive into the world of books? Explore Bookola now and experience the joy of reading and discovering new titles!</p>
                        <a href="[Deployed App URL]" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Visit Bookola</a>
                    </div>
                </div>
            </div>

        </div>
      </section>
<!-- End of CTA -->

<!-- GitHub Section -->

<section id="github" class="p-5 bg-light text-dark">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>Connect on GitHub.</h2>
                <p>Check out the source code of Bookola on GitHub. Feel free to star the repository, open issues, or contribute to make Bookola even better!</p>
                <a href="[GitHub Repository URL]" target="_blank" rel="noopener noreferrer" class="btn btn-warning">GitHub Repository</a>
            </div>

            <div class="col-md">
                <img class="img-fluid" src="../static/assets/images/github-logo.avif" alt="">
            </div>

        </div>
    </div>

</section>

<!-- End of Github -->

<!-- Footer Section -->
<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2023 Bookola | Designed and Developed by Nandom, Keme and Adeola.</p>
  
      <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-up-circle"></i>
      </a>
    </div>
  </footer>
  <!-- End of Footer -->


    <!-- Bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>