<!-- Navigation bar -->

<!-- custom css -->
<link rel="stylesheet" href="../static/css/navbar.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3 fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><span class="text-warning">Book</span>ola</a>


    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{{ url_for('homepage') }}" class="nav-link">Home</a>
        </li>
        {% if current_user.is_authenticated %}

        <li class="nav-item">
          <a href="{{ url_for('user_profile') }}" class="nav-link"
            >My Account</a
          >
        </li>

        <li class="nav-item">
          <a href="{{ url_for('select_chat') }}" class="nav-link">Chat rooms</a>
        </li>

        <li class="nav-item">
          <a href="blog" class="nav-link">Blog</a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('subscription') }}" class="nav-link"
            >Subscription</a
          >
        </li>

        <li class="nav-item">
          <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{ url_for('signup') }}" class="nav-link">Sign In</a>
        </li>
      </ul>
      {% endif %}

      <!-- Search Form -->
      <form
        class="form-inline my-2 my-lg-0"
        action="{{ url_for('search_results') }}"
        method="post"
      >
        <div class="input-group">
          <input
            class="form-control"
            type="search"
            placeholder="Search for a book"
            aria-label="Search"
            name="q"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
