<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/terms.css">
    <title>Bookola - Terms and Conditions</title>
</head>
<body>
    <header>
        <h1>Bookola - Terms and Conditions</h1>
    </header>

    <section>
        <h2>1. Introduction</h2>
        <p>Welcome to Bookola! These terms and conditions outline the rules and regulations for the use of Bookola's Website.</p>
    </section>

    <section>
        <h2>2. Acceptance of Terms</h2>
        <p>By accessing and using Bookola ('https://Bookola.onrender.com'), you agree to comply with and be bound by these terms and condition. If you do not agree with any part of these terms, you may not use the Website."</p>
    </section>

    <section>
        <h2>3. User Eligibily</h2>
        <p>You must be 13 years or older to use this Website. By using the Website, you confirm that you meet this eligibility requirement.</p>
    </section>

    <section>
        <h2>4. User Accounts</h2>
        <p>To access certain features of the Website, you may be required to create a user account. You are responsible for maintaining the confidentiality of your account information and agree to notify us immediately of any unauthorized use of your account</p>
    </section>

    <section>
        <h2>5. Content and Conduct</h2>
        <p>Users are solely responsible for any content they contribute to the Website. You agree not to upload, post, or otherwise transmit any content that violates applicable laws, infringes on intellectual property rights, or is otherwise objectionable.</p>
    </section>

    <section>
        <h2>6. Intellectual Property Rights</h2>
        <p>Unless otherwise stated, Bookola and/or its licensors own the intellectual property rights for all material on Bookola. All intellectual property rights are reserved. You may not reproduce, distribute, or display any part of the Website without our prior written consent.</p>
    </section>

    <section>
        <h2>7. Purchases and Transactions</h2>
        <p>No refunds</p>
    </section>

    <section>
        <h2>8. Termination of Accounts</h2>
        <p>We reserve the right to terminate or suspend your account at our discretion, without notice, for any reason, including if you violate these terms and conditions.</p>
    </section>

    <section>
        <h2>9. Disclaimer of Liability</h2>
        <p>Bookola is not liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of the Website.</p>
    </section>

    <section>
        <h2>10. Changes to Terms</h2>
        <p>We may revise and update these terms and conditions from time to time. Your continued use of the Website after any such changes will constitute your acceptance of the updated terms.</p>
    </section>

    <section>
        <h2>11. Governing Law and Jurisdiction</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of Nigeria, and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
    </section>

    <section>
        <h2>12. Contact Information</h2>
        <p>If you have any questions or concerns regarding these terms and conditions, please contact us at bookolabook's@gmail.com.</p>
    </section>

    <section>
        <h2>13. Effective Date</h2>
        <p>These terms and conditions are effective as of [insert date] and were last updated on 4th of December, 2023.</p>
    </section>

    <footer>
        <p>For any queries, please contact us at support@bookola.com</p>
    </footer>

</body>
</html>
