 /* .form-control{
    padding: 12px 8px;
    border-radius: 40px;
    font-size: 15px;
 } */

 i{
    background-color: black;
    color: #fff;
    position: relative;
    top: px;
    right: 48px;
    padding: 12px;
}

.btn:hover{
    background: #fff;
    color: #556B2F;
}