/* navigation bar */
.navbar {
  background-color: #525252;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px;
}

.navbar h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding: 0px 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 1000; */
}

.nav-menu li {
  display: inline-block;
}

.nav-menu li a {
  color: #fff;
  padding: 0px 10px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
}

.search-box .search {
  padding: 12px 8px;
  border-radius: 40px;
  font-size: 15px;
}

.nav-menu .search-box i {
  background-color: #556b2f;
  color: #fff;
  position: relative;
  top: 2px;
  right: 50px;
  padding: 12px;
  border-radius: 40px;
}
