<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootsrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- custom css -->
    <link rel="stylesheet" href="../static/styles/homepage.css">

    <title>Bookola - Discover, read, repeat.</title>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark py-3 fixed-top">
        <div class="container">

            <a class="navbar-brand" href="#">
                <img src="../static/assets/images/favicon.png" alt="Logo" width="25" height="25" class="d-inline-block align-text-top">
                Bookola
              </a>
              
            <!-- <a href="#" class="navbar-brand">Bookola</a> -->

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="signup.html" class="nav-link">Sign Up</a>
                    </li>

                    <li class="nav-item">
                        <a href="user.html" class="nav-link">My Account</a>
                    </li>

                    <li class="nav-item">
                        <a href="./chatroom.html" class="nav-link">Chat rooms</a>
                    </li>

                    <li class="nav-item">
                        <a href="#blog" class="nav-link">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a href="subscription.html" class="nav-link">Subscription</a>
                    </li>
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Find a book">
                    <i class="bi-search"></i>
                  </form>
            </div>

        </div>
    </nav> 
    <!-- Navigation bar end -->


    <!-- Hero section -->
    <section class="bg-secondary text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h5>Bookola <span class="text-warning">bookstore</span></h5>
                    <h2 class="lead">Your Gateway to a World of Books.</h2>
                    <p>Explore a vast collection of books tailored just for you.</p>
                    <a href="subscription" class="btn btn-primary">Subscribe Now</a>
                    <!-- <button class="btn btn-primary btn-lg" data-bs-target="subscription.html">Subscribe Now</button> -->
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="../static/assets/images/cover1.avif" alt="Book covers">
            </div>
        </div>
    </section>
<!-- Hero section end -->


<!--New Arrivals -->
<section class="p-5">
    <div class="container">
        <h2 class="text-center text-dark">New Arrivals</h2>
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card  text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../static/assets/images/bookcover.avif" class="card-img-top" alt="books">
                        </div>
                        <h3 class="card-title mb-3">The Bike Guy</h3>
                        <p class="card-text">Emma Mayers</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                        
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card  text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../static/assets/images/good-paper-wattpad-bookcover.avif" class="card-img-top" alt="books">
                        </div>
                        <h3 class="card-title mb-3">Good Paper</h3>
                        <p class="card-text">Patricia Kim</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                        
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card  text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../static/assets/images/bookcover.avif" class="card-img-top" alt="books">
                        </div>
                        <h3 class="card-title mb-3">The Bike Guy</h3>
                        <p class="card-text">Emma Mayers</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                        
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card  text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../static/assets/images/bookcover.avif" class="card-img-top" alt="books">
                        </div>
                        <h3 class="card-title mb-3">The Bike Guy</h3>
                        <p class="card-text">Emma Mayers</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                        
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

<!-- end of arrivals -->


<!-- book of the week -->

<section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <h2 class="text-center">Book of the month</h2>
                <img class="img-fluid" src="../static/assets/images/48lawsofp.jpg" alt="">
            </div>
            <div class="col-md p-5">
                <h2>48 Laws of Power.</h2>
                <p class="lead">Robert Greene</p>
                <p>
                    For anyone with an interest in conquest, self-defenses, wealth, power or simply being an educated spectator, 
                    The 48 Laws of Power is one of the most useful and entertaining books ever. This book 'teaches you how to cheat, dissemble, 
                    feign, fight and advance your cause in the modern world.'
                </p>
                <a href="" class="btn btn-light mt-3">
                   <i class="bi bi-chevron-right"></i>  Read More</a>
            </div>

        </div>
    </div>

</section>
<!-- end of book of the week -->



<!-- genre -->
<section class="p-5">
    <div class="container">
        <h2 class="text-center text-dark">Genre</h2>
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card  text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../static/assets/images/book-with-red-cover_1101-95.avif" class="card-img-top" alt="books">
                        </div>
                        <h3 class="card-title mb-3">History</h3>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, nisi.</p>
                        <a href="#" class="btn btn-primary">View All</a>
                        
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card  text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../static/assets/images/book-with-yellow-cover_1101-96.avif" class="card-img-top" alt="books">
                        </div>
                        <h3 class="card-title mb-3">Science</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, harum?</p>
                        <a href="#" class="btn btn-primary">View All</a>
                        
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card  text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../static/assets/images/book-with-yellow-cover_1101-96.avif" class="card-img-top" alt="books">
                        </div>
                        <h3 class="card-title mb-3">Romance</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quia.</p>
                        <a href="#" class="btn btn-primary">View All</a>
                        
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card  text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../static/assets/images/book-with-red-cover_1101-95.avif" class="card-img-top" alt="books">
                        </div>
                        <h3 class="card-title mb-3">Fiction</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, eveniet?</p>
                        <a href="#" class="btn btn-primary">View All</a>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end of arrivals -->






<!-- Footer -->
<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2023 Team Bookola</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle"></i>
        </a>
    </div>
</footer>
<!-- end of footer -->



    <!-- bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
